body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #000; 
    font-family: sans-serif;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
}


#imageA, #imageB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    object-fit: cover; 
    
    object-position: center center; 
    
    z-index: 5; 
    
    
    transition: opacity 1.5s ease-in-out; 
    
    opacity: 0; 
}

#imageA {
    z-index: 6; 
}

#instructions {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 20; 
}